<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>

  <body>
    <h1>Mainetance Time</h1>
    <p>This app is under maintenace</p>
  </body>
  {{> footer}}
</html>
